<!DOCTYPE html>
<html>
  <head>
    <title>EJS Test</title>
  </head>
  <body>
    <h1>Welcome to EJS 🚀</h1>
    <p>Message: <%= message %></p>
    <h1>name: 
        
    <%= name %>
    
    </h1>
  </body>
</html>
